Block_File_-_Cisco_AMP.yml
id: 9cf17c48-eb94-43d8-87a8-b5c8d90bb8c6
version: 38
vcShouldKeepItemLegacyProdMachine: false
name: Block File - Cisco AMP
description: |-
  This playbook receives an MD5 hash and adds it to the block list in Cisco AMP. Files with that MD5 hash are blocked from execution on the managed endpoints.
  If the integration is disabled at the time of running, or if the hash is already on the block list, no action is taken on the MD5.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 592d4f57-7ff1-4185-882f-d6e251eded60
    type: start
    task:
      id: 592d4f57-7ff1-4185-882f-d6e251eded60
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 00a06cf5-3bab-4d4d-8b26-e4f5668c43ca
    type: playbook
    task:
      id: 00a06cf5-3bab-4d4d-8b26-e4f5668c43ca
      version: -1
      name: Convert file hash to corresponding hashes
      description: |
        The playbook enables you to get all of the corresponding file hashes for a file even if there is only one hash type available.
        For example, if we have only the SHA256 hash, the playbook will get the SHA1 and MD5 hashes as long as the
        original searched hash is recognized by any our the threat intelligence integrations.
      playbookName: Convert file hash to corresponding hashes
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      MD5:
        complex:
          root: inputs.MD5
          transformers:
          - operator: uniq
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 3
      max: 100
      forEach: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 0abffeaa-656d-4804-85c0-4d5891676544
    type: condition
    task:
      id: 0abffeaa-656d-4804-85c0-4d5891676544
      version: -1
      name: If Hash is SHA256 ?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "1"
      SHA256:
      - "7"
    scriptarguments:
      retry-count:
        simple: "4"
      retry-interval:
        simple: "10"
    separatecontext: false
    conditions:
    - label: SHA256
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: inputs.SHA256
                transformers:
                - operator: uniq
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 43fb4b30-174f-4857-87e8-81836be58a13
    type: regular
    task:
      id: 43fb4b30-174f-4857-87e8-81836be58a13
      version: -1
      name: amp_get_file_list_files_by_sha
      description: Returns a particular item for a given file_list. You need to specify
        the sha256 argument and the file_list_guid argument to retrieve an item.
      script: AMP|||amp_get_file_list_files_by_sha
      type: regular
      iscommand: true
      brand: AMP
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      file_list_guid:
        complex:
          root: inputs.File_List_GUID
          transformers:
          - operator: uniq
      retry-count:
        simple: "4"
      retry-interval:
        simple: "20"
      sha256:
        complex:
          root: File
          accessor: SHA256
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 60,
          "y": 780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 3f4f1973-0806-4a7c-8f06-816e15821372
    type: condition
    task:
      id: 3f4f1973-0806-4a7c-8f06-816e15821372
      version: -1
      name: Is Cisco AMP enabled
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "Yes":
      - "2"
    separatecontext: false
    conditions:
    - label: "Yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: AMP
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 37daaa55-9b94-42cc-8f83-b6e818c1cc05
    type: condition
    task:
      id: 37daaa55-9b94-42cc-8f83-b6e818c1cc05
      version: -1
      name: Set O/P of File Hash Search
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      scriptName: isError
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "11"
      "yes":
      - "8"
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      retry-count:
        simple: "4"
      retry-interval:
        simple: "20"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 70,
          "y": 1030
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 366a23c2-96f7-4455-82b3-998941a6c89f
    type: regular
    task:
      id: 366a23c2-96f7-4455-82b3-998941a6c89f
      version: -1
      name: amp_get_file_list_files_by_sha
      description: Returns a particular item for a given file_list. You need to specify
        the sha256 argument and the file_list_guid argument to retrieve an item.
      script: AMP|||amp_get_file_list_files_by_sha
      type: regular
      iscommand: true
      brand: AMP
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      file_list_guid:
        complex:
          root: inputs.File_List_GUID
          transformers:
          - operator: uniq
      retry-count:
        simple: "4"
      retry-interval:
        simple: "20"
      sha256:
        complex:
          root: inputs.SHA256
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 510,
          "y": 780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: f60d5e71-736f-4c30-8d39-212d78b23377
    type: regular
    task:
      id: f60d5e71-736f-4c30-8d39-212d78b23377
      version: -1
      name: Update File Hash to AMP
      description: Adds a SHA256 hash to a file list, using file_list_guid.
      script: AMP|||amp_set_file_list_files_by_sha
      type: regular
      iscommand: true
      brand: AMP
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      description:
        simple: ${File.SHA256} has been added to ${inputs.File_List_GUID} as it has
          been found malicious on ${incident.lastupdatetime}
      file_list_guid:
        complex:
          root: inputs.File_List_GUID
          transformers:
          - operator: uniq
      retry-count:
        simple: "4"
      retry-interval:
        simple: "20"
      sha256:
        complex:
          root: File
          accessor: SHA256
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 70,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: f65aceea-ef30-48e0-8454-672741d4107a
    type: condition
    task:
      id: f65aceea-ef30-48e0-8454-672741d4107a
      version: -1
      name: Set O/P of File Hash Search
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      scriptName: isError
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "11"
      "yes":
      - "10"
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
      retry-count:
        simple: "4"
      retry-interval:
        simple: "20"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1030
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: a84563f8-7bdb-4304-8cc1-ec75529d45b5
    type: regular
    task:
      id: a84563f8-7bdb-4304-8cc1-ec75529d45b5
      version: -1
      name: Update File Hash to AMP
      description: Adds a SHA256 hash to a file list, using file_list_guid.
      script: AMP|||amp_set_file_list_files_by_sha
      type: regular
      iscommand: true
      brand: AMP
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      description:
        simple: ${inputs.SHA256} has been added to ${inputs.File_List_GUID} as it
          has been found malicious on ${incident.lastupdatetime}
      file_list_guid:
        complex:
          root: inputs.File_List_GUID
          transformers:
          - operator: uniq
      retry-count:
        simple: "4"
      retry-interval:
        simple: "20"
      sha256:
        complex:
          root: inputs.SHA256
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 93bd3d1b-bc76-4009-8516-384a7d9564db
    type: title
    task:
      id: 93bd3d1b-bc76-4009-8516-384a7d9564db
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 270,
          "y": 1530
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1545,
        "width": 850,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: MD5
  value: {}
  required: false
  description: ""
  playbookInputQuery: null
- key: SHA256
  value: {}
  required: false
  description: ""
  playbookInputQuery: null
- key: File_List_GUID
  value:
    simple: 8aa3ba34-339d-4d80-be9a-a9a4c8f2ccf0
  required: false
  description: The file List guid  for Blocking File Hashes
  playbookInputQuery: null
outputs: []
