Block_Account_-_Generic_ADQv2.yml
id: d15a3b33-6dc9-4e23-82aa-8b819e3ed40f
version: 36
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: Common Playbooks
    itemVersion: 2.3.24
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
vcShouldKeepItemLegacyProdMachine: false
name: Block Account - Generic_ADQv2
description: |-
  This playbook blocks malicious usernames using all integrations that you have enabled.

  Supported integrations for this playbook:
  * Active Directory
  * PAN-OS - This requires PAN-OS 9.1 or higher.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: b95110b7-ba18-42a5-87ad-c5d37915401c
    type: start
    task:
      id: b95110b7-ba18-42a5-87ad-c5d37915401c
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 172.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 1808d949-f921-4957-8796-7bbedd822ad9
    type: title
    task:
      id: 1808d949-f921-4957-8796-7bbedd822ad9
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 0b958771-7e06-4239-899f-f7d133be6938
    type: title
    task:
      id: 0b958771-7e06-4239-899f-f7d133be6938
      version: -1
      name: Block accounts
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 285,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 2c5a17dd-e019-4e20-8f5b-4333678a26e0
    type: condition
    task:
      id: 2c5a17dd-e019-4e20-8f5b-4333678a26e0
      version: -1
      name: Is there a username to block?
      description: Verify that the playbook input includes at least one username to
        block.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "5"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: inputs.Username
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 172.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 506ce6b8-3a81-4e4b-8ad5-c8d0bc6fff9e
    type: condition
    task:
      id: 506ce6b8-3a81-4e4b-8ad5-c8d0bc6fff9e
      version: -1
      name: Is Active Directory enabled?
      description: |
        Verify that there is a valid instance of Active Directory enabled.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "13"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: Active Directory Query v2
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
          right:
            value: {}
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: af78db5d-cc36-44a8-8bc3-ef22f7a267ec
    type: regular
    task:
      id: af78db5d-cc36-44a8-8bc3-ef22f7a267ec
      version: -1
      name: Disable account in active directory
      description: Disables an Active Directory user account.
      script: Active Directory Query v2|||ad-disable-account
      type: regular
      iscommand: true
      brand: Active Directory Query v2
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      username:
        complex:
          root: inputs.Username
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 172.5,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 4e92d015-c2df-4ba4-842c-c31d5ead7f32
    type: regular
    task:
      id: 4e92d015-c2df-4ba4-842c-c31d5ead7f32
      version: -1
      name: ad-update-user
      description: Updates attributes of an existing Active Directory user.
      script: Active Directory Query v2|||ad-update-user
      type: regular
      iscommand: true
      brand: Active Directory Query v2
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      attribute-name:
        complex:
          root: inputs.Attribute_field
          filters:
          - - operator: isExists
              left:
                value:
                  simple: inputs.Attribute_field
                iscontext: true
      attribute-value:
        simple: The user ${inputs.Username} has been disabled by Cortex XSOAR by ${incident.id}
          on ${ADLastTime}
      username:
        complex:
          root: inputs.Username
          filters:
          - - operator: isExists
              left:
                value:
                  simple: inputs.Username
                iscontext: true
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 160,
          "y": 870
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 3db6ce2c-8f9b-4d8a-85aa-87b1ab70417c
    type: regular
    task:
      id: 3db6ce2c-8f9b-4d8a-85aa-87b1ab70417c
      version: -1
      name: Set Notify Time As the field
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      key:
        simple: ADLastTime
      value:
        complex:
          root: incident
          accessor: notifyTime
          transformers:
          - operator: toString
            args:
              format: {}
          - operator: replace
            args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: UTC
          - operator: ModifyDateTime
            args:
              variation:
                value:
                  simple: in 8 hours
          - operator: replace
            args:
              limit: {}
              replaceWith:
                value:
                  simple: ' '
              toReplace:
                value:
                  simple: T
          - operator: concat
            args:
              prefix: {}
              suffix:
                value:
                  simple: ' PST'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -350,
          "y": 840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "12_2_#default#": 0.1,
      "8_2_#default#": 0.16
    },
    "paper": {
      "dimensions": {
        "height": 1055,
        "width": 1015,
        "x": -350,
        "y": 50
      }
    }
  }
inputs:
- key: Username
  value:
    simple: xsoardelete
  required: false
  description: Array of malicious usernames to block.
  playbookInputQuery: null
- key: Attribute_field
  value:
    simple: description
  required: false
  description: the field for which attribute value should be added
  playbookInputQuery: null
outputs: []
sourceplaybookid: block_account_-_generic
